<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="banner">
        <div class="overlay">
            <div class="navbar">
                <div class="logo">
                    <label style="color:white;"><b>Youtulysis</b></label>
                </div>
                <div class="menu-icon">
                    <a href="home.html"><b>Home</b></a></li>
                    
                    <a href="about.html"><b>About</b></a></li>
                </div>
            </div>
            <div class="content">
                <h1>Let's Start Your Journey</h1>
                <div class="up">
                    <a href="layout.html">Explore</a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>